<br/>
<center>
  <% if ENV['LOGO'] and File.exists?( Rails.public_path + 'style/' + ENV['LOGO'] ) %>
    <%= image_tag ('/style/' + ENV['LOGO'].to_s), style: 'max-height: 256px; max-width: 100%;' %>
  <% else %>
    <%= image_tag asset_path('purchasing.png')%>
  <% end %>
</center>
<br/>
<h2>Log in</h2>
<br/>
<%= button_to "Log in with #{ENV['OAUTH_OC_PROVIDER']}",
              account_openid_connect_omniauth_authorize_path,
              method: :post,
              class: 'btn btn-primary full-width',
              form: { class: 'd-grid gap-2', data: { turbo: false } }
%>