<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Purchase request available at: <%= link_to url_for(@request), url_for(@request)%>
    </p>
  </body>
</html>