<tr>
  <td>
  </td>
  <td>
    <%= f.text_field :description %>
  </td>
  <td>
    <%= f.text_field :vendor_reference %>
  </td>
  <td>
    <%= f.number_field :quantity, step: 1, min: 0 %>
  </td>
  <td>
    <%= f.number_field :price, step: 0.01, min: 0.00 %>
  </td>
</tr>
