<tr>
  <td>
  </td>
  <td>
    <%= f.text_field :description %>
  </td>
  <td>
    <%= f.text_field :vendor_reference %>
  </td>
  <td>
    <%= f.text_field :quantity %>
  </td>
  <td>
    <%= f.text_field :price %>
  </td>
</tr>
