<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @work_breakdown_structure.title %>
</p>

<%= link_to 'Edit', edit_work_breakdown_structure_path(@work_breakdown_structure) %> |
<%= link_to 'Back', work_breakdown_structures_path %>
