<h1>Itemized Requests Report</h1>
<br/>
<div class="btn-group gap-2 d-flex">
    <%= link_to("javascript:history.back()",
                class: 'btn btn-outline-secondary',
                'data-bs-toggle': 'tooltip',
                'data-bs-placement': 'top',
                'title': 'Go back') do %>
    <i class="fa-solid fa-angle-left"></i>
    <% end %>
</div>